@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Yantramanav:100,300,400,500,700,900");

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  /* background: #2d3b36 url(http://www.luismruiz.com/img/blured.jpg) no-repeat
    center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* padding-top: 100px; */
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 343px;
  min-height: 333px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

textarea {
  background: rgba(255, 255, 255, 0.4)
    url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  width: 276px;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

input {
  width: 276px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.name {
  background: rgba(255, 255, 255, 0.4)
    url(http://luismruiz.com/img/gemicon_name.png) no-repeat scroll 16px 16px;
  padding-left: 45px;
}

input.email {
  background: rgba(255, 255, 255, 0.4)
    url(http://luismruiz.com/img/gemicon_email.png) no-repeat scroll 16px 20px;
  padding-left: 45px;
}

input.message {
  background: rgba(255, 255, 255, 0.4)
    url(http://luismruiz.com/img/gemicon_message.png) no-repeat scroll 16px 16px;
  padding-left: 45px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

input:focus,
textarea:focus {
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.contact-btn {
  width: 100px;
  height: 35px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6da5a3),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  padding: 10.5px 21px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  text-shadow: #333333 0 1px 0;
  color: #e1e1e1;
}

.contact-btn:hover {
  border: 1px solid #253737;
  text-shadow: #333333 0 1px 0;
  background: #416b68;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#77b2b0),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}

.contact-btn:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid #253737;
  background: #6da5a3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#416b68),
    to(#416b68)
  );
  background: -webkit-linear-gradient(top, #416b68, #609391);
  background: -moz-linear-gradient(top, #416b68, #6da5a3);
  background: -ms-linear-gradient(top, #416b68, #6da5a3);
  background: -o-linear-gradient(top, #416b68, #6da5a3);
  background-image: -ms-linear-gradient(top, #416b68 0%, #6da5a3 100%);
  color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0) 0 1px 0,
    inset rgba(255, 255, 255, 0.7) 0 1px 0;
}

.contact-grid {
  display: flex;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  align-items: center;
}

/* COLOR VARIABLES*/
:root {
  --theme-color: #11172b;
  --secondary: #98012e;
  --main-text: #fff;
  --secondary-text: #93999d;
  --buttons: #e51937;
  --div-background: #e1e1e1;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Carrois Gothic SC", sans-serif;
  font-family: "Yantramanav", sans-serif;
}

/* body {
  max-width: 90%;
  margin: 0 auto;
} */

.logo-a {
  text-decoration: none;
  color: var(--main-text);
}

i {
  cursor: pointer;
}

.logo-words {
  font-size: 32px;
}

i.a {
  color: var(--secondary);
}

header.head {
  min-height: 80px;
  width: 100%;
  background: var(--theme-color);
  overflow: hidden;
}

.logo {
  height: 100%;
  width: 260px;
  float: left;
}

.hamburger-menu {
  float: right;
  padding: 1.5rem 2rem 0 0;
  display: none;
  cursor: pointer;
}

.hamburger-menu .line {
  height: 4px;
  width: 45px;
  background: var(--main-text);
  margin: 6px 0 0 0;
  border-radius: 5px;
}

h2.logo-words {
  margin-top: 1.6rem;
  margin-left: 20px;
}

.logo .prabesh {
  color: var(--main-text);
  font-weight: lighter;
  letter-spacing: 1px;
}

.nav-bar {
  width: calc(100% - 260px);
  height: 100%;
  float: right;
}

ul.lists {
  list-style: none;
  float: right;
  margin: 2.2rem 0 0 0;
}

ul li.list-items {
  display: inline-block;
  margin-right: 1.2rem;
}

.active {
  border-bottom: 7px solid var(--secondary);
  padding: 0 0 10px 0;
}

li.list-items a {
  text-decoration: none;
  color: var(--main-text);
  font-size: 16px;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

/* HEADER STYLING FINISHED */

main.hero {
  height: 600px;
  width: 100%;
  background: url(../img/hero.jpeg) no-repeat center/cover;
  position: relative;
  color: var(--main-text);
  z-index: -2;
  overflow: hidden;
  clear: both;
}

.opacity {
  height: 100%;
  width: 100%;
  background: rgba(145, 100, 100, 0.4);
  position: absolute;
  z-index: -1;
}

.hero-heading,
.hero-desc {
  z-index: 1;
}

h1.hero-heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 12rem 0 0 9rem;
}



p.hero-desc {
  font-size: 20px;
  margin: 1rem 0 0 9rem;
}

div.pre-deals {
  min-height: 120px;
  width: 100%;
  background: var(--theme-color);
  text-align: center;
}

.deal {
  color: var(--main-text);
  display: inline-block;
  margin: 3rem 2rem 0 2rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: 0.3s;
  font-size: 18px;
}

.deal i {
  color: var(--secondary-text);
  margin: 0 12px 0 12px;
}

div.topic {
  text-align: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.topic p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 2.5rem;
}

.topic h1 {
  font-size: 40px;
  font-weight: 400;
}

/* common class in h2 and p in services div */
.serv-h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.serv-p {
  font-size: 18px;
  font-weight: 400;
}

@media(max-width: 600px) {
  .airport-area p {
    font-size: 18px;
  }

  main.hero {
    height: 450px;
  }

  .deals-desc p {
    font-size: 18px;
  }
    .deals h1 {
      font-size: 20px;
    }

  .deals-desc h1 {
    font-size: 23px;
  }
  
  .seat-desc {
    left: 0;
  }

  .seat-desc p {
    font-size: 18px;
  }

  .food-service p {
    font-size: 18px;
  }
  div.seat-desc {
    min-height: 250px;
    width: 500px;
    background: var(--theme-color);
    color: var(--main-text);
    position: absolute;
    right: 4rem;
    top: 4rem;
    opacity: 0.9;
  }
  
  div.seat-desc h2 {
    padding: 3rem 0 0 2rem;
  }
  
  div.seat-desc p {
    padding: 1rem 10px 0 2rem;
  }
  
  div.food-service {
    width: 65%;
    min-height: 300px;
    margin: 0 auto;
  }
  
  div.food-desc {
    width: 60%;
    float: left;
    padding: 4rem 4rem 0 5rem;
    position: relative;
  }
  
  .food-desc i {
    position: absolute;
    left: 0;
    top: 6rem;
    font-size: 60px;
    color: var(--secondary);
  }
  
  .topic p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 2.5rem;
  }
  
  .topic h1 {
    font-size: 30px;
    font-weight: 400;
  }
  
  /* common class in h2 and p in services div */
  .serv-h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .serv-p {
    font-size: 18px;
    font-weight: 400;
  }
}

/* that's it */

div.airport-area {
  min-height: 300px;
  width: 65%;
  margin: 0 auto;
}

.airport-area img {
  height: 50%;
  width: 400px;
  float: left;
  object-fit: cover;
}

div.airport-desc {
  float: left;
  width: 40%;
  color: var(--theme-color);
  position: relative;
}

.airport-desc h2 {
  padding: 3rem 0 0 3rem;
}

.airport-desc p {
  padding: 0 0 0 3rem;
}

div.airport-desc p {
  margin-top: 12px;
}

div.airport-desc i {
  position: absolute;
  right: -3rem;
  top: 6rem;
  font-size: 20px;
  color: var(--secondary);
}

div.seat {
  height: 500px;
  width: 80%;
  margin: 0 auto;
  background: url(../img/seat.jpg) no-repeat;
  background-size: cover;
  background-position-x: 2rem;
  background-position-y: -2rem;
  position: relative;
  clear: both;
}

div.seat-desc {
  min-height: 250px;
  width: 500px;
  background: var(--theme-color);
  color: var(--main-text);
  position: absolute;
  right: 4rem;
  top: 4rem;
  opacity: 0.9;
}

div.seat-desc h2 {
  padding: 3rem 0 0 2rem;
}

div.seat-desc p {
  padding: 1rem 10px 0 2rem;
}

div.food-service {
  width: 65%;
  min-height: 300px;
  margin: 0 auto;
}

div.food-desc {
  width: 60%;
  float: left;
  padding: 4rem 4rem 0 5rem;
  position: relative;
}

.food-desc i {
  position: absolute;
  left: 0;
  top: 6rem;
  font-size: 60px;
  color: var(--secondary);
}

div.food {
  width: 40%;
  float: right;
}

.food img {
  height: 300px;
  width: 100%;
}

.btn {
  text-align: center;
  clear: both;
  margin: 3rem 0;
}

a.button {
  text-decoration: none;
  color: var(--main-text);
  background: var(--buttons);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center;
  transition: 0.5s;
}

div.deals {
  min-height: 590px;
  width: 100%;
  background: #f5f7fa;
}

.deals .heading {
  font-size: 40px;
  font-weight: 400;
  margin: 2rem 0 1rem 10rem;
  border-bottom: 4px solid var(--secondary);
  display: inline-block;
}

div.best-deals {
  min-height: 390px;
  width: 82%;
  margin: 0 auto;
  background: var(--main-text);
  overflow: hidden;
}

.best-deals .img-holder {
  width: 60%;
  height: 100%;
  float: left;
}

.img-holder img {
  width: 100%;
  max-height: 100%;
}

.deals-desc {
  width: 40%;
  float: right;
  padding: 6rem 3rem 3rem 3rem;
}

.deals-desc h2 {
  border-bottom: 3px solid var(--secondary);
  display: inline-block;
  margin-bottom: 7px;
}

#footer {
  min-height: 100px;
  width: 100%;
  background: var(--theme-color);
}

.copy {
  color: var(--main-text);
  font-size: 18px;
  letter-spacing: 1px;
  float: left;
  margin: 1.5rem 0 0 5rem;
}

.social {
  float: right;
  margin: 0 2rem 0 0;
}

.req {
  color: var(--main-text);
  font-size: 20px;
}

.social i {
  font-size: 40px;
  margin: 1rem 1rem 0 1rem;
  cursor: pointer;
}

.social .fa-facebook {
  color: #1152a3;
}

.social .fa-facebook:hover {
  font-size: 50px;
}

.social .fa-twitter-square {
  color: #17d2f4;
}

.social .fa-twitter-square:hover {
  font-size: 50px;
}

.social .fa-instagram {
  color: #e51937;
}

.social .fa-instagram:hover {
  font-size: 50px;
}

.social .fa-skype {
  color: #0eb4f9;
}

.social .fa-skype:hover {
  font-size: 50px;
}

.button:hover {
  background: var(--secondary);
}

/* Media Queries */

@media (max-width: 1300px) {
  .nav-bar {
    display: none;
  }
  ul.lists {
    text-align: center;

    margin-top: 5rem;
    /* margin-right: 8rem; */
    /* padding: 1rem; */
    /* display: none; */
  }

  .list-items {
    /* display: block; */
    /* text-align: center; */
    /* padding: 3px 2rem; */
    width: 100vw;
    border: none;
    margin: 5px 0;
    padding: 8px 0;
    box-sizing: border-box;
    border-top: 2px solid #999;
    /* background: rgba(17, 23, 43, .1); */
  }

  .lists .list-items:hover {
    background: #0b0321;
  }

  .toggle {
    display: block;
  }

  .hamburger-menu {
    display: block;
  }

  .logo {
    width: 400px;
  }

  .logo-words {
    font-size: 40px;
    padding: 0 0 0 2rem;
  }

  .nav-bar {
    width: 0;
  }
}

@media (max-width: 1240px) {
  #footer {
    height: 130px;
    width: 100%;
  }
  .copy {
    float: none;
    text-align: center;
    padding-top: 10px;
    margin: 0;
    border-bottom: 1px solid #fff;
  }

  .social {
    float: none;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
  }
  .social i {
    font-size: 40px;
    margin: 0 1.5rem 5px 1.5rem;
  }

  div.airport-area {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1070px) {
  div.airport-area {
    width: 100%;
  }

  div.seat {
    width: 100%;
    margin: 0;
    background-position-x: 0;
    background-position-y: 0;
  }

  div.food-service {
    width: 100%;
  }

  .deal {
    display: block;
    margin: 0;
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid var(--secondary-text);
  }

  .deal:hover {
    background: #0b0321;
  }

  .deals .best-deals {
    width: 100%;
  }

  .deals .heading {
    margin: 0 0 1rem 0;
    text-align: center;
  }
}

@media (max-width: 960px) {
  .airport-area {
    text-align: center;
    width: 100%;
    overflow: hidden;
  }
  .airport-area img {
    float: none;
    width: 80%;
    height: 50%;
  }

  div.airport-desc {
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  .airport-desc h2 {
    padding: 1rem 1rem 0 1rem;
  }

  .airport-desc p {
    padding: 0 1rem 1rem 1rem;
  }

  div.airport-desc i {
    position: absolute;
    left: 17rem;
    font-size: 40px;
    top: 6.5rem;
  }

  .serv-h2 {
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .serv-p {
    font-size: 34px;
    font-weight: 400;
  }

  div.seat-desc h2 {
    padding: 1rem 0 0 2rem;
  }

  div.food-service {
    width: 100%;
  }

  div.food-desc {
    float: none;
    width: 100%;
  }

  div.food {
    width: 80%;
    float: none;
    margin: 1rem auto;
  }

  .deals .heading {
    display: block;
    text-align: center;
  }

  .best-deals .img-holder {
    width: 90%;
    height: 100%;
    float: none;
    margin: 0 auto;
  }

  .deals-desc {
    width: 90%;
    float: none;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
  }

  #footer {
    text-align: center;
  }

  h1.hero-heading {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 5rem 0 0 4rem;
  }

  p.hero-desc {
    font-size: 20px;
    margin: 1rem 0 0 4rem;
  }

  .logo-words {
    font-size: 30px;
    padding: 8px 0 0 1rem;
  }
}

/* Styles for checkin.html file */

div.way-spec {
  height: 40px;
  width: 450px;
  margin: 6rem auto 0 auto ;
  text-align: center;
  display: flex;
  /* background: red; */
}

.way-spec label {
  font-size: 28px;
  font-weight: 500;
}

.way-spec input[type="radio"] {
  opacity: 0;
  width: 0;
  margin: 0;
}

label[for="one"],
label[for="two"] {
  margin-right: 50px;
  display: inline-block;
  padding-left: 40px;
  background: url(../img/checkbox.jpg) no-repeat;
  background-position: 0 0;

  cursor: pointer;
}

input:checked + label[for="one"],
input:checked + label[for="two"] {
  background-position: 0 -47px;
  color: var(--buttons);
}

.large-head {
  font-size: 40px;
  font-weight: 400;
  color: var(--theme-color);
  text-align: center;
}

.passengers-input {
  width: 80%;
  height: 300px;
  /* width: 90%; */
  /* background: var(--div-background); */
  margin: 1rem auto;
  /* background: orange; */
  display: flex;
  justify-content: space-around;

}

.schedule {
  height: 80%;
  width: 70%;
  margin: 0rem auto;
  text-align: center;
  padding-top: 2rem;
  color: var(--theme-color);
  font-size: 20px;
}

.schedule tr th,
td {
  border: 1px solid var(--secondary);
}

@media (max-width: 780px) {
  .passengers-input {
    width: 100%;
  }

  #guests,
  #from,
  #to {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;
    border: none;
  }

  .passengers-input .input {
    width: 100%;
    margin: 8px;
  }

  .schedule {
    width: 100%;
  }
}

/* STYLING FOR MYTRIPS.HTML PAGE */

div.main-area {
  height: 720px;
}

.main-area h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 3rem;
  color: var(--theme-color);
}

.main-area i {
  font-size: 140px;
  color: var(--secondary);
  display: block;
  text-align: center;
  margin-top: 3rem;
}

.main-area .btn {
  margin: 5rem 0;
}

/* STYLING FOR FLIGHTTOPIC.HTML FILE */

.flight-topic {
  font-size: 40px;
  font-weight: 500;
  color: var(--theme-color);
  text-align: center;
  padding: 2rem 0;
}

.live-status {
  height: 550px;
  width: 80%;
  margin: 0 auto 1rem;
}

.stat div {
  display: inline-block;
  margin: 3rem 0 0 0;
}

.stat .live-from {
  width: 25%;
  text-align: right;
}

.stat .live-to,
.stat .live-from {
  font-size: 20px;
  font-weight: 500;
}

.stat .line {
  height: 1px;
  width: 50%;
  background: var(--secondary);
  margin: 0 15px 0 15px;
  position: relative;
}

.line i {
  position: absolute;
  top: -12px;
  font-size: 32px;
}

.line .plane1 {
  left: 5%;
}

.line .plane2 {
  left: 20%;
}

.line .plane3 {
  left: 70%;
}

.line .plane4 {
  left: 40%;
}

.line .plane5 {
  left: 50%;
}

.customer-sug {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 1130px) {
  .stat .live-to,
  .stat .live-from {
    font-size: 18px;
  }

  .live-status {
    width: 100%;
  }

  .flight-topic {
    font-size: 30px;
  }
}

/* STYLING FOR DESTINATION.HTML FILR */
.image-grid {
  padding: 0rem;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}

.image-grid .card {
  height: 400px;
  margin: 2rem 0;
  border-radius: 4px;
  /* overflow: hidden; */
}

.card img {
  height: 100%;
  width: 100%;
}

.name {
  text-align: center;
  border: 2px solid var(--theme-color);
  padding: 8px 1rem;
  cursor: pointer;
  transition: 0.3s linear;
}

.name:hover {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.name h3 {
  text-transform: uppercase;
  font-size: 22px;
}

@media (max-width: 1425px) {
  .image-grid {
    /* padding: 4rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 1000px) {
  .image-grid {
    /* padding: 4rem; */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
}

/* STYLING FOR PRICE.HTML FILE */
.class {
  text-align: center;
}
.class .label-box {
  /* height: 60px; */
  width: 400px;
  background: var(--theme-color);
  margin: 2rem auto;
}

.label-box h2 {
  font-size: 22px;
  color: var(--main-text);
  padding: 8px;
  font-weight: 500;
}

.details h1 {
  font-size: 30px;
  font-weight: 500;
  padding: 12px;
  color: var(--theme-color);
}

@media (max-width: 800px) {
  .details h1 {
    font-size: 30px;
  }
}

/* STYLING FOR TRENDING.HTML */

.trending-banner {
  height: 725px;
  width: 100%;
  background: url(../img/bangkok.jpeg) no-repeat center/cover;
  position: relative;
  text-align: center;
}

.trending-banner img {
  height: 100%;
  width: 100%;
  z-index: -2;
}

.opacity-div {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
}

.trending-banner h1 {
  font-size: 60px;
  z-index: 2;
  font-weight: 900;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.3);
}

.trending-topic {
  font-size: 30px;
  color: var(--theme-color);
  text-align: center;
  padding: 1rem;
}

.trending-desc {
  min-height: 350px;
  width: 60%;
  margin: 0 auto;
  background: var(--div-background);
}

.trending-desc p {
  font-size: 18px;
  color: var(--theme-color);
  font-weight: 300;
  padding: 3rem;
}

/* STYLING FOR INFO.HTML PAGE */

.full-info {
  min-height: 940px;
  width: 100%;
  background: url(../img/plane-background.png) no-repeat center/cover;
  margin: 0;
  overflow: hidden;
}

.logo-info {
  text-align: center;
}
.logo-info h2 {
  font-size: 60px;
  padding: 2rem 0 0 0;
}

.logo-info .prabesh {
  color: var(--theme-color);
  font-weight: 400;
}

.motto {
  font-size: 24px;
  font-weight: 300;
  margin-left: 30rem;
}

.contacts {
  min-height: 500px;
  width: 550px;
  background: rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  text-align: center;
  border-radius: 4px;
}

.contacts h2,
.contacts i {
  color: var(--secondary);
  margin-bottom: 8px;
}

.contacts h2 {
  font-size: 20px;
  /* font-weight: 800; */
}

.contacts i {
  font-size: 20px;
}

.contacts p {
  font-size: 22px;
  color: var(--main-text);
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.contacts h2:nth-child(1) {
  padding-top: 2.5rem;
}

.info-medias {
  text-align: center;
}

.info-medias i {
  font-size: 30px;
  margin: 1rem;
}

.info-medias i:nth-child(1) {
  color: #1152a3;
}

.info-medias i:nth-child(2) {
  color: #17d2f4;
}

.info-medias i:nth-child(3) {
  color: #e51937;
}

.info-medias i:nth-child(4) {
  color: #0eb4f9;
}

@media (max-width: 950px) {
  .motto {
    margin-left: 0;
  }
}
